.body {
    font-family: Arial, SansSerif, serif;
    font-size: 100%;
    margin: 15px auto;
    width: 1200px;
    background-color: white;
}

.background {
    background-image: linear-gradient(greenyellow, white);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
}

#slide_line{width:100%;margin:0 auto;text-align:center;overflow:hidden;}
#slide_line img{width:33%;height:auto;}


@media (max-width:800px){
    #slide_line img{width:28%;max-width:160px;margin-right:1%;}
}
@media (max-width:450px){
    #slide_line img{width:99%;}
}


