body {
    font-family: "Times New Roman", SansSerif, serif;
    font-size: 100%;
    margin: 15px auto;
    width: 70%;

}
h1 {
    display: none;
}

.logo-img {
    padding-right: 15px;
}
.header {
    background-color: white;
    padding: 10px 10px 10px 10px;
    border: dot-dash;
    border-radius: 15px;
}

.background {
    background-image: linear-gradient(white, white, pink);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
}

#slide_line{width:100%;margin:0 auto;text-align:center;overflow:hidden;}
#slide_line img{width:33%;height:auto;}

a {
    display: inline;
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

H2  {
    color: darkblue;
    font-weight: bold;
}

.block {
    float: left;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
    width: 17%;
}

.con{
    text-align: center;
}

.img {
    width: 100%;
    border-radius: 15px;
    transition: all 0.5s ease-out;
}

.img:hover {
    transform: scale(1.1);
}

@media (max-width:1300px){

    body {
        font-family: Arial, SansSerif, serif;
        font-size: 100%;
        margin: 15px auto;
        width: 90%;
    }
}

@media (max-width:1000px){

    body {
        font-family: Arial, SansSerif, serif;
        font-size: 100%;
        margin: 15px auto;
        width: 100%;
    }
}

@media (max-width:750px){
    #slide_line img{width:28%;max-width:160px;margin-right:1%;}
    .block {
        float: left;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        width: 30%;
    }

    body {
        font-family: Arial, SansSerif, serif;
        font-size: 100%;
        margin: 15px auto;
        width: 100%;
    }
}
@media (max-width:600px){
    #slide_line img{width:27%;}
}






